@import "../../bower_components/normalize.css/normalize.css";
@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../../bower_components/neat/app/assets/stylesheets/_neat.scss";

.container {
	@include outer-container;
  max-width: 100%;
  height: 100%;

  .main {
  	@include span-columns(12 of 12, block-collapse);

	  .name {
	  	@include span-columns(6 of 12, block-collapse);
	  	border: 1px solid lightgray;
	  	height: 50%;
	  }

	  .profile {
	  	@include span-columns(6 of 12, block-collapse);
	  	border: 1px solid lightgray;
	  	height: 50%;
	  }
	}

	.nav {
		@include span-columns(12 of 12, block-collapse);

	  .about {
	  	@include span-columns(3 of 12, block-collapse);
	  	border: 1px solid lightgray;
	  	height: 50%;
	  }

	  .tech {
	  	@include span-columns(3 of 12, block-collapse);
	  	border: 1px solid lightgray;
	  	height: 50%;
	  }

	  .projects {
	  	@include span-columns(3 of 12, block-collapse);
	  	border: 1px solid lightgray;
	  	height: 50%;
	  }

	  .contact {
	  	@include span-columns(3 of 12, block-collapse);
	  	border: 1px solid lightgray;
	  	height: 50%;
	  }
  }

  .aboutSection {
  	@include span-columns(12 of 12, block-collapse);
  	height: 100%;

  	.aboutHeader {
  		@include span-columns(12 of 12, block-collapse);

  		h2 {
	  		@include span-columns(3 of 12, block-collapse);
	  		border: 1px solid lightgray;
	  		max-width: 100%;
	  		height: 25%;
	  		margin-bottom: 0;
  		}
  	}

  	.aboutBody {
  		@include span-columns(9 of 12);
  		border: 1px solid lightgray;
  		height: 75%;
  		float: right;
  	}
  }

  .technologies {
  	@include span-columns(12 of 12, block-collapse);
  	height: 100%;

  	.techHeader {
  		@include span-columns(12 of 12, block-collapse);

			h2 {
	  		@include span-columns(3 of 12, block-collapse);
	  		border: 1px solid lightgray;
	  		max-width: 100%;
	  		height: 20%;
  		}
  	}

  	.techStack {
  		@include span-columns(9 of 12, block-collapse);
  		border: 1px solid lightgray;
  		height: 80%;
  		float: right;
  	}
  }
}