
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Dotun Olusoga
    link(rel='stylesheet', href='css/main.css')
    link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Bitter:400,700,400italic' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,400' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Josefin+Slab:300,400|Raleway' rel='stylesheet' type='text/css')

  body
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    .container

        .main
            .main-nav
                ul
                  li ABOUT
                  li TECHNOLOGIES
                  li PROJECTS
                  li CONTACT
            .pic
                img(src="assets/profile_photo.jpg")

            .profile
                p
                    h2 Dotun Olusoga
                    h2 Web Developer | Builder of Awesome Stuff
        .nav
            .about
                h2 ABOUT
            .tech
                h2 TECHNOLOGIES
            .projects
                h2 PROJECTS
            .contact
                h2 CONTACT

        .aboutSection
            .aboutHeader
                h2 About me
            .aboutBody
                h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu nibh elit.
                   Ut hendrerit ligula nibh, vel lobortis libero volutpat quis. Nullam sit amet dui tellus.
                   Fusce laoreet lorem vel nisi rhoncus, quis eleifend lectus dignissim. Aliquam vitae libero suscipit, tristique nibh vel, interdum nisi.
                   Maecenas iaculis viverra nulla non venenatis. Nulla facilisi.

        .technologies
          ul
            li.block
              img(src="assets/AngularJS.png")
            li.block
              img(src="assets/github.png")
            li.block
              img(src="assets/css-3.png")
            li.block
              img(src="assets/html-5.png")
            li.block
              img(src="assets/sass.png")
            li.block
              h2 SKILLS
            li.block
              img(src="assets/javascript_logo.png")
            li.block
              img(src="assets/JQuery.png")
            li.block
              img(src="assets/grunt-logo.png")
            li.block
              img(src="assets/ruby.png")
            li.block
              img(src="assets/rails.png")
            li.block
              img(src="assets/")
                  
