
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Dotun Olusoga
    link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Bitter:400,700,400italic' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,400' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Josefin+Slab:300,400|Raleway' rel='stylesheet' type='text/css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Roboto+Mono:400,300' rel='stylesheet' type='text/css')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet")
    link(rel='stylesheet', href='css/main.css')
  body
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    .container

        .main
            .main-nav
            .pic
                img(src="assets/profile-image.jpg")

            .profile
                p
                    h2 Dotun Olusoga
                    h2 Web Developer | Builder of Awesome Stuff
        #nav
            .about.blue.button
              a(href="#about")
                i.fa.fa-user.fa-3x
                h2 About
            .tech.red
              a(href="#stack")
                i.fa.fa-database.fa-3x
                h2 Technology Stack
            .projects.green
              a(href="#projects")
                i.fa.fa-cogs.fa-3x
                h2 Projects
            .contact.yellow
              a(href="#contact")
                i.fa.fa-whatsapp.fa-3x
                h2 Contact

        .aboutSection#about
            .aboutHeader.blue
                h2 About
            .aboutBody
                h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu nibh elit.
                   Ut hendrerit ligula nibh, vel lobortis libero volutpat quis.
                   Nullam sit amet dui tellus. Fusce laoreet lorem vel nisi rhoncus, quis eleifend lectus dignissim.
                   Aliquam vitae libero suscipit, tristique nibh vel, interdum nisi.
                   Maecenas iaculis viverra nulla non venenatis. Nulla facilisi.

        .technologies#stack
          ul
            li.block
              img(src="assets/AngularJS.png")
            li.block
              img(src="assets/github.png")
            li.block
              img(src="assets/css-3.png")
            li.block
              img(src="assets/html-5.png")
            li.block
              img(src="assets/sass.png")
            li.block.red
              h2 Stack
            li.block
              img(src="assets/javascript_logo.png")
            li.block
              img(src="assets/JQuery.png")
            li.block
              img(src="assets/grunt-logo.png")
            li.block
              img(src="assets/ruby.png")
            li.block
              img(src="assets/rails.png")
            li.block
              img(src="assets/firebase-logo.png")

        .projects#projects
          .projectHeader.green
            h2 Projects
          .projectBody
            .village
              .village_image
                img(src="assets/villagesquare.png")
              .village_desc
            .xhatter
              .xhatter_image
                img(src="assets/xhatter.png")
              .xhatter_desc

        .contact#contact
          .contactHeader.yellow
            h2 Contact
          .contactBody
            ul
              li.block
                a(href="https://github.com/dotunolusoga", target="_blank")
                  i.fa.fa-github.fa-5x
              li.block
                a(href="https://twitter.com/dotunolusoga", target="_blank")
                  i.fa.fa-twitter.fa-5x
              li.block
                a(href="https://medium.com/@dotunolusoga", target="_blank")
                  i.fa.fa-medium.fa-5x
              li.block
                a(href="https://www.linkedin.com/in/dotunolusoga", target="_blank")
                  i.fa.fa-linkedin.fa-5x
              li.block
                a(href="mailto:adedotun.olusoga@gmail.com", target="_blank")
                  i.fa.fa-envelope.fa-5x

  script(src='../vendor/jquery/dist/jquery.min.js')
  script(src='../vendor/sticky/jquery.sticky.js')
  script(src='scripts/main.js')


