
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Dotun Olusoga
    link(rel='stylesheet', href='css/main.css')
  body
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    .container

        .main
            .name
                h1 ADEDOTUN OLUSOGA

            .profile
                h2 Software Developer
                h2 adedotun.olusoga@gmail.com
                h2 615.600.7828
        .nav
            .about
                h2 aBout
            .tech
                h2 tech-stack
            .projects
                h2 pRojects
            .contact
                h2 cOntact
